body {
  background-color: #000;
  font-family: sans-serif;
  color: #FFF;
}

div.container {
  width: 800px;
  height: 1200px;
  margin: 0 auto;
  background-color: rgb(96, 67, 13);
}

header {
  position: relative;
  display: flex;
  /* border: 1px solid red; */
}

h1 {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 20px;
}

h1 img {
  width: 100%;
}

ul {
  list-style: none;
}

ul.members {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-top: 200px;
  margin-right: 20px;
  text-align: right;
}

div.hero {
  width: 600px;
  padding: 0 0 20px 20px;
  margin-left: auto;
}

div.hero img {
  width: 100%;
}