body {
  background-color: #000;
  font-family: sans-serif;
  color: #FFF;
  padding: 0;
  margin: 0;
}

div.container {
  width: 900px;
  height: 1550px;
  margin: 0 auto;
  background-color: rgb(51, 35, 5);
  line-height: 1.2;
}

header {
  position: relative;
  display: flex;
  /* border: 1px solid red; */
}

h1 {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 20px;
}

h1 img {
  width: 100%;
}

ul {
  list-style: none;
}

ul.members {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-top: 200px;
  margin-right: 20px;
  text-align: right;
}

div.hero {
  width: 600px;
  padding: 0 0 20px 20px;
  margin-left: auto;
}

div.hero img {
  width: 100%;
}

div.soundcloud {
  width: 100%;
}

div.soundcloud img {
  width: 100%;
}

div.columns {
  display: flex;
  justify-content: center;
}

div.columns div.left,
div.columns div.right
 {
  width: 40%;
}

div.left {
  margin-right: 40px;
}

div.columns p {
  font-size: 16px;
}

div.columns p span {
  font-weight: bold;
}

div.redLine {
  background-color: #af3c39;
  height: 5px;
  width: 200px;
}

div.redLineSolo {
  background-color: #af3c39;
  height: 5px;
  width: 300px;
  margin: 15px 0 15px 80px;
}

ul.links {
  line-height: 2;
  padding: 0;
}

ul.links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

i {
  margin-right: 10px;
  font-size: 18px;
}

div.vidContainer {
  width: 900px;
  display: flex;
  align-items: center;
}

div.vidEmbed {
  width: 650px;
  margin-left: 70px;
}

div.vidEmbed img {
  width: 100%;
}

div.vidContainer div:nth-child(2) {
  margin-left: 20px;
  font-size: 20px;
}