@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply w-11/12 mb-7 pt-2 text-xl lg:text-lg xl:text-xl uppercase mx-auto md:flex md:justify-between md:items-center
    }
    .ticketsButton {
        @apply bg-white text-black p-2 rounded uppercase font-bold sm:absolute sm:right-0 hover:bg-soulblue focus:bg-soulblue
    }
}

span {
    font-weight: bold;
}

a {
    transition: color 0.2s ease-out 0.1s;
}

a:focus,
a:hover,
#about span {
    color: #6bd6e2;
}

i:hover,
nav li:hover,
a img:hover {
    transform: scale(1.01);
}

#showsList a:hover,
#showsList a:focus {
    color: black;
}

html {
    scrollbar-width: none;
}

.hamburger {
    display: block;
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.hamburger span {
    position: absolute;
    width: 24px;
    height: 4px;
    background: white;
    border-radius: 1px;
    display: inline-block;
    transition: 0.3s ease;
}

.hamburger span.top {
    top: 0;
}

.hamburger span.middle {
    top: 8px;
}

.hamburger span.bottom {
    bottom: 0;
}

#check:checked ~ div label span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
    top: -1px;
}

#check:checked ~ div label span.middle {
    transform: translateX(20px);
    opacity: 0;
}

#check:checked ~ div label span.bottom {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
    bottom: -1px;
}

.mobileNav,
main,
footer {
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-behavior: allow-discrete;
}

div #check:checked ~ .mobileNav {
    opacity: 1;
    z-index: 1;
}

div #check:checked ~ main,
div #check:checked ~ footer {
    opacity: 0;
    z-index: -1;
    /* height: 0; */
    /* overflow: hidden; */
}